---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Dashboard">
	<main class="px-5 pb-20">
		<h1 class="text-3xl font-bold text-center pt-10">Dashboard</h1>
		<p class="text-center mt-5">This is a dashboard page.</p>
		<!-- モチベーション -->
		<section>
			<h2 class="text-2xl font-bold text-center pt-10">とにかくやれ！</h2>
			<iframe
				class="mx-auto my-10 w-full max-w-[800px] aspect-video"
				src="https://www.youtube.com/embed/JV3KOJ_Z4Vs?si=AyxbSGrxXsI_azoy"
				title="YouTube video player"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</section>
	</main>
</Layout>
