---
import { Image } from "astro:assets";
import ContactButton from "../button/ContactButton.astro";
import HERO_IMG from "../../../public/hero.jpg";
import ProfileBadge from "@components/Tag/ProfileBadge.astro";
import { SITE_TITLE } from "src/constant/SITE";

const profileTags = [
	{
		icon: "fluent-emoji-flat:student",
		text: "Kosen Student",
	},
	{
		icon: "fluent-emoji-flat:desktop-computer",
		text: "Web Programmer",
	},
	{
		icon: "fluent-emoji-flat:fish",
		text: "Fish lover",
	},
	{
		icon: "fluent-emoji-flat:books",
		text: "Bookworm",
	},
	{
		icon: "fluent-emoji-flat:zany-face",
		text: "Oddball",
	},
	{
		icon: "fluent-emoji-flat:japanese-symbol-for-beginner",
		text: "Learning Chinese, Swahili",
	},
];
---

<section
	class="max-w-5xl mx-auto mt-10 mb-20 lg:mt-20 lg:mb-40 px-10 lg:px-16 flex flex-col-reverse lg:flex-row items-center gap-y-10 lg:justify-between"
>
	<div class="lg:w-min">
		<h1
			class="w-max text-4xl sm:text-5xl leading-[1.3] sm:leading-[1.4] font-averia"
		>
			<span class="text-primary-blue">{SITE_TITLE};</span><br />
			my mode, action
		</h1>
		<div class="py-8 flex flex-wrap gap-4">
			{
				profileTags.map((item) => (
					<ProfileBadge icon={item.icon} text={item.text} />
				))
			}
		</div>
		<ContactButton />
	</div>
	<div class="relative mx-8 lg:mx-0">
		<Image
			class="w-[400px] aspect-[10/12] object-cover hero-image"
			src={HERO_IMG}
			alt="Timdaik's picture"
		/>
		<img
			class="w-[400px] aspect-[10/12] absolute top-0 left-[50%] translate-x-[-50%]"
			src={"/hero-image-subframe.svg"}
			alt="subframe"
		/>
	</div>
</section>

<style>
	.hero-image {
		mask-image: url("/hero-image-mask.svg");
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
	}
</style>
