---
interface Props {
	isBlue?: boolean;
}

const { isBlue = false } = Astro.props;
---

<h1
	class={`text-[60px] md:text-[128px] font-shippori ${isBlue ? "text-primary-blue" : "text-primary-green"}`}
>
	<slot />
</h1>
