---
import "@fontsource/zen-kaku-gothic-new";
import "@fontsource/hina-mincho";
import "@fontsource/shippori-antique-b1";
import "@fontsource/fira-code";
import Header from "../components/Header/Header.astro";
import Footer from "@components/Footer/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="This is Timdaik's portfolio page. " />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | timtim.tech</title>
		<ClientRouter />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
			integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
			crossorigin="anonymous"
		/>
		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-8XKK44HY9Y"></script>
		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-8XKK44HY9Y");
		</script>
	</head>
	<body class="min-h-[100dvh]">
		<div class="relative min-h-[100dvh]">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	:root {
		--primary-green: #18ef95;
		--primary-dark-green: #00b86b;
		--primary-blue: #13aed0;
		--primary-red: #f6444f;
		--white: #ffffff;
		--gray-base: #9ebcca;
		--gray-light: #edf0f7;
		--gray-dark: #547b8d;
		--black: #000000;
		--accent: 136, 58, 234;
		--shadow-color: rgba(0, 0, 0, 0.1);
	}
	html {
		font-family: "Zen Kaku Gothic New";
		background: var(--white);
		background-size: 224px;
	}
	code {
		font-family: "Fira Code", monospace;
	}
	.font-hina {
		font-family: "Hina Mincho";
	}
	.font-shippori {
		font-family: "Shippori Antique B1";
	}
</style>
